.examples {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
    padding: calc(var(--section-x-padding) * 4) var(--section-x-padding);

    .content {
        width: 100%;
        max-width: var(--max-width);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        grid-template-rows: auto;
        gap: 16px;
    }
}

@media (max-width: 744px) {
    .examples .content {
        grid-template-columns: 1fr;
    }

    .examples .item {
        margin-bottom: 16px;
    }
}