.hero {
    position: relative;
    width: 100%;
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: calc(var(--section-x-padding) * 4) var(--section-x-padding);
    animation: fade-in 0.5s ease-in-out;

    .h1 {
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 1.2;
        color: var(--fg-primary);
        text-align: center;
        margin-bottom: 32px;
    }

    .description {
        max-width: 744px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0.5px;
        color: var(--fg-secondary);
        text-align: center;
        margin-bottom: 64px;
    }
}

.scroll {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: var(--fg-primary);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.8;

    .scrollIcon {
        animation: scrolling 1s ease-in-out infinite alternate;
    }
}

.em {
    color: var(--accent);
    font-style: normal;
}

@media (max-width: 600px) {
    .hero {
        .h1 {
            font-size: 34px;
            line-height: 1.4;
        }

        .description {
            font-size: 16px;
            line-height: 1.4;
            margin-bottom: 48px;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scrolling {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}