.default {
    --bg-primary: #282828;
    --bg-primary-light: #31302f;
    --bg-secondary: #212121;
    --bg-tertiary: #2c2d2d;
    --accent: #b8bb26;
    --accent-secondary: #d9cb90;
    --accent-light: #494919;
    --fg-primary: #ddded8;
    --fg-secondary: #bbc0c7;
    --star-color: #d1c149;
}