.dracula {
    --bg-primary: #282a36;
    --bg-primary-light: #343746;
    --bg-secondary: #21222c;
    --bg-tertiary: #44475a;
    --accent: #bd93f9;
    --accent-secondary: #a83a78;
    --accent-light: #4d7e89;
    --fg-primary: #f8f8f2;
    --fg-secondary: #a1a6b8;
    --star-color: #efdc4b;
}