.fusion {
    --bg-primary: #282c34;
    --bg-primary-light: #353b45;
    --bg-primary-dark: #1a1c21;
    --bg-secondary: #21252b;
    --bg-tertiary: #3e4451;
    --accent: #61afef;
    --accent-secondary: #b151e1;
    --accent-light: #515d6d;
    --fg-primary: #abb2bf;
    --fg-secondary: #9ab1c8;
    --star-color: #e5c07b;
}