.nord {
    --bg-primary: #2e3440;
    --bg-primary-light: #3b4252;
    --bg-primary-dark: #262b35;
    --bg-secondary: #434c5e;
    --bg-tertiary: #4c566a;
    --accent: #88c0d0;
    --accent-secondary: #81a1c1;
    --accent-light: #15706e;
    --fg-primary: #eceff4;
    --fg-secondary: #d8dee9;
    --star-color: #bfe06c;
}