.button {
    height: 40px;
    padding: 2px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    background-color: var(--bg-secondary);
    color: var(--accent);
    border: 1px solid var(--accent-light);
    cursor: pointer;
    transition: all 0.2s ease;

    &.primary {
        &:hover {
            border: 1px solid var(--accent);
            scale: 1.05;
            transform: rotate(1deg);
        }
    }

    &.secondary {
        background-color: var(--bg-primary);
        color: var(--fg-primary);
        border: 1px solid var(--accent-light);

        &:hover {
            border: 1px solid var(--accent);
        }
    }

    &.tool {
        padding: 4px;
        width: 40px;
        height: 40px;
        &:hover {
            border: 1px solid var(--accent);
        }
        
        &.loading {
            .icon {
                animation: loading 1.5s linear infinite;
            }
        }
    }

    &.toolUnbordered {
        padding: 4px;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        color: var(--fg-primary);

        &:hover {
            color: var(--accent);
            scale: 1.1;
        }
    }

    &.text {
        display: inline-block;
        padding: 0;
        width: min-content;
        height: auto;
        border: none;
        background-color: transparent;
        color: var(--fg-secondary);
        font-size: 14px;
        text-align: left;

        &:hover {
            color: var(--accent);
        }
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}