.tree {
    width: min(100%, 400px);
    padding: 12px 16px;
    background-color: var(--bg-secondary);
    border-radius: 8px;
	list-style: none;
	padding-left: 1rem;
	margin: 0;

    .title {
        font-size: 16px;
        letter-spacing: 0.5px;
        color: var(--fg-primary);
        margin-bottom: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--accent-light);
    }

    .treeList {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    &.recursive {
        padding: 0;
        margin: 0;
        border-radius: 0;
        border: none;
        background: none;
        border-left: 1px solid var(--accent-light);
        padding-left: 12px;
        margin-left: 4px;
    }
}

.treeItem {
	margin: 0.5rem 0;
}

.file,
.folder {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	font-weight: 500;
	transition: color 0.2s ease;
	color: var(--fg-secondary);
	text-decoration: none;
}

.file {
    .fileName {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:hover {
        color: var(--accent);
        text-decoration: underline;
    }
}

.folder {
    color: var(--fg-primary);
    &:hover {
        color: var(--accent);
    }
}

.activeFolder {
	color: var(--accent);
}

.icon {
	flex-shrink: 0;
}

.subtree {
	overflow: hidden;
	opacity: 0;
	transition: max-height 0.4s ease, opacity 0.3s ease;
	padding-left: 0.75rem;
	border-left: 1px solid var(--border-color, #ccc);
	margin-left: 0.25rem;
}
