:root {
  --bg-primary: #282828;
  --bg-primary-light: #31302f;
  --bg-secondary: #212121;
  --bg-tertiary: #2c2d2d;
  --accent: #b8bb26;
  --accent-secondary: #d9cb90;
  --accent-light: #494919;
  --fg-primary: #ddded8;
  --fg-secondary: #bbc0c7;

  --section-x-padding: 32px;
  --max-width: 1200px;
  --header-height: 70px;
}

::selection {
  background: var(--accent-light);
  color: var(--fg-primary);
}

::-moz-selection {
  background: var(--accent-light);
  color: var(--fg-primary);
}

body {
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  background: var(--bg-primary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "ui-sans-serif", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-light) var(--bg-secondary);
  color: var(--fg-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  color: var(--fg-primary);

  &.accent {
    color: var(--accent);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}