.markdown-body {
    background-color: var(--bg-primary);
    color: var(--fg-primary);
    line-height: 1.6;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;

    * {
        font-weight: 500;
        text-align: justify;
    }

    h1,
    h2,
    h3 {
        text-align: left;
        color: var(--accent);
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 1000;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    h3 {
        font-size: 1.75rem;
        font-weight: 700;
    }

    h4 {
        font-size: 1.5rem;
    }

    p {
        text-align: justify;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    hr {
        border: 0;
        border-top: 2px solid var(--accent-light);
        margin: 24px 0;
        width: 100%;
    }

    ul,
    ol {
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

    li {
        margin-bottom: 0.5rem;
    }

    a {
        color: var(--fg-secondary);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    strong {
        font-weight: 700;
        color: var(--accent);
    }

    em {
        font-style: italic;
        color: var(--accent-secondary);
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    pre {
        background-color: var(--bg-secondary);
        border: 1px solid var(--accent-light);
        padding: 1rem;
        border-radius: 4px;
        font-family: 'Fira Code', monospace;
        font-size: 0.875rem;
        font-weight: 500;
        overflow-x: auto;
        color: var(--fg-secondary);
        margin-bottom: 12px;
    }

    code {
        background-color: var(--bg-secondary);
        padding: 0.2rem 0.4rem;
        border-radius: 4px;
        font-size: 0.875rem;
        color: var(--fg-secondary);
    }

    blockquote {
        background-color: var(--bg-primary-light);
        border-left: 4px solid var(--accent);
        padding: 12px 16px;
        padding-left: 20px;
        margin-left: 0;
        color: var(--fg-primary);
        border-radius: 4px;

        &:has(hr) {
            background: none;
            border: none;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1rem;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid var(--accent-light);
    }

    th {
        background-color: var(--bg-primary);
        font-weight: bold;
    }

    ol {
        list-style-type: decimal;
    }

    mtd {
        padding-left: 12px;
        text-align: left;
    }

    .katex-html {
        display: none;
    }

    .katex-display {
        display: block;
        margin: 1em 0;
        text-align: center;
    }
}