
.toc {
    width: 100%;
    padding: 12px 16px;
    list-style: none;
    margin: 0;

    .tocLink {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 2px;
        padding: 4px 6px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: var(--fg-secondary);
        border-radius: 4px;

        &.1 {
            color: var(--accent);
        }
        &.2 { padding-left: 16px; }
        &.3 { padding-left: 24px; }
        &.4 { padding-left: 36px; }
        &.5 { padding-left: 36px; }
        &.6 { padding-left: 36px; }

        &.2, &.3, &.4, &.5, &.6 {
            &::before {
                content: '';
                display: inline-block;
                width: 4px;
                height: 4px;
                border-radius: 99999px;
                background-color: var(--fg-secondary);
                margin-right: 8px;
            }
        }

        &:hover {
            background-color: var(--bg-tertiary);
        }
    }
}