.button {
    height: 40px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid var(--background);
    cursor: pointer;

    &.primary {
        background-color: #2b2e2f;
    }

    &.secondary {
        background-color: #f44336;
    }

    &.tool {
        background-color: var(--background);
        padding: 4px;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        transition: all 0.2s ease;

        .icon {
            filter: invert();
            opacity: 0.8;
        }

        &:hover {
            filter: brightness(0.9);
        }

        &.loading {
            .icon {
                animation: loading 1.5s linear infinite;
            }
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}